-# <center>
-# <h1>Editing tasks</h1>

-# = form_with(url: edit_todolist_task_path, local: true) do |form|

-#     = form.text_field :name

-#     = form.submit


-# = link_to 'Back', todolists_path
-# </center>


= form_with(model: @todolist, local: true) do |form|
  %p
   
    = form.text_field :name
 
  %p
    = form.submit 
