<center>
<h1>Editing task</h1>
= simple_form_for @task, url: todolist_task_path, method: :put do |f|
  %p

    = f.input_field  :name
  %p
    = f.submit
  %p
    = link_to 'Back', todolists_path
</center>