/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap

 *= require_tree .

 *= require_self
 */

 .custom-class{
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: .5em 1em ;
    border-radius: 5px;
    border-color:rgb(64,199,129);
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
 }

 .custom-class:hover { background: rgb(53, 167, 110); }
 .custom-class:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;}
  


  .card-header {
   background-color: #4165a3;
   
   color: ghostwhite;   
   font-size: 20px;
  }

  .card-body{
   background-color: #ffffff;
   border-radius: 0px 0px 15px 15px;
  }

 
  .add_task{
   background: -webkit-linear-gradient(top, #dedede, #ccc);
  }

  .add_project{
   background-color:#4165a3;
   border: #4165a3;
  }

  .plus_icon {
   color: green;
   font-size: xx-large;

  }

  .tlc{
     width: 60px;
  }

  .sep{
    width: 5px;
    padding: 1px !important
  }

  .fa-pencil-alt{
     color:rgb(129, 121, 121);
  }

  .fa-trash-alt{
   color:rgb(129, 121, 121);
}
   .fa-sort-up{
      color:rgb(129, 121, 121) !important
   }

   .fa-sort-down{
      color:rgb(129, 121, 121) !important
   }

  .tlb{
   width: 115px;
}

.pb_pt{
   padding-bottom: 12px;
   padding-top: 12px;
}


tr:hover { 
   background: #ffffbb; /* Цвет фона */
}
  .calendar_icon {
   color: rgb(0, 0, 0);
   font-size: x-large;

  }
  .ed_del_icon {
   color: rgb(226, 226, 226);
   font-size: large;

  }

  .color_button{
     background-color: green;
     border-color: green;
  }

  .td{
   border-left-style: none;
  }

  body{
   background: linear-gradient(to top, #c77b0c, #d9d5c1);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   
  }

  a{
     color: rgb(255, 255, 255);
  }
  
  .wc{
     width: 30% !important
  }
@media (min-width: 1200px){
 .container {
    max-width: 700px;
}}

@media (min-width: 992px){
.container {
    max-width: 700px;
}}

