/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap

 *= require_tree .

 *= require_self
 */

 .custom-class{
    font-weight: 800;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: .5em 1em ;
    border-radius: 5px;
    border-color:rgb(64,199,129);
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
 }

 .custom-class:hover { background: rgb(53, 167, 110); }
 .custom-class:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;}
  